.gui_body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(fundo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 0px 0px;
    padding-bottom: 100;
    padding-left: 1px;
    padding-right: 1px;
}

.gui_header {
    /*background-color:rgba(0, 0, 0, 0.7);*/
    text-align: left;
    padding: 20px;
  }

.gui_h1 {
   /*text-shadow: 0.1em 0.1em 0.2em rgb(243, 146, 0);/*
    /*Esfumaçãdo*/
  text-shadow: 0.1em 0.1em 0.05em rgb(50, 134, 230);
    /* sombra */
   /*color: rgb(255, 255, 255); text-shadow: rgb(90, 58, 233) 0.1em 0.1em 0.2em;/*
    /* Branco com sombra*/
   /*text-shadow: -2px -2px rgb(243, 146, 0), 2px 2px rgb(236, 236, 236);/*
    /* Alto relevo*/
    /*text-shadow: 2px 2px rgb(40, 75, 230), -2px -2px rgb(240, 240, 240);
    /* Baixo relevo*/
  }

  .gui_aside {
    width: 90%;
    padding-right:50px;
    margin-right: 55px;
    margin-top: 10px;
    float: right;
    font-style: italic;
    /*background-color:rgb(255, 0, 0);*/
    /*border: rgb(255, 255, 255);*/
    /*border-style: double;*/
   
    /*text-shadow: 2px 2px rgb(50, 134, 230), -2px -2px rgb(0, 0, 0);*/
  
  }

  .gui_NAV {
    display: block;
    /*background-color: rgb(196, 196, 196);*/
    size: 800px;
    width: 90%;
    padding-right:50px;
    margin-right: 55px;
    margin-top: 10px;
    float: right;
    font-style: italic;
  }